<p>商品名：<%= link_to product.name, product_path(product.id), class: "" %></p>
<p>発注数：<%= product.number %></p>
<p>説明　：<%= product.description %></p>
<p>発注日：<%= product.created_at %></p>
<p>----------</p>
